{% extends 'base.html' %}

{% block content %}
<section class="container my-5 px-4">
  <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
  <p class="text-center my-4">
    Создайте короткую ссылку автоматически или предложите свой вариант
  </p>

  {% if duplicated_error %}
  <div class="alert alert-danger" role="alert">
    {{ duplicated_error }}
  </div>
  {% endif %}

  <div class="container">
    <div class="row my-3">
      <div class="col-sm"></div>
      <div class="col-sm">
        <form method="POST">
          {{ form.hidden_tag() }}
          <div>
            {{ form.original_link(class="form-control form-control-lg py-2 mb-3", placeholder=form.original_link.label.text) }}
            {% if form.original_link.errors %}
              <p><span style="color:red">{{ form.original_link.errors[0] }}</span></p>
            {% endif %}
          </div>
          <div>
            {{ form.custom_id(class="form-control form-control-lg py-2 mb-3", placeholder=form.custom_id.label.text) }}
            {% if form.custom_id.errors %}
              <p><span style="color:red">{{ form.custom_id.errors[0] }}</span></p>
            {% endif %}
          </div>
          {{ form.submit(class="btn btn-primary") }}
        </form>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>

  {% if short_link %}
  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <h5 class="text-center">Ваша короткая ссылка: <a href="{{ short_link }}">{{ short_link }}</a></h5>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
  {% endif %}
</section>
{% endblock %}

